<a href="https://colab.research.google.com/github/sagarsitap596/gcolab_python/blob/master/Data_Wrangling_with_Pandas_Code_Along.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# IPL Dataset Analysis

## Problem Statement
We want to know as to what happens during an IPL match which raises several questions in our mind with our limited knowledge about the game called cricket on which it is based. This analysis is done to know as which factors led one of the team to win and how does it matter.

## About the Dataset :
The Indian Premier League (IPL) is a professional T20 cricket league in India contested during April-May of every year by teams representing Indian cities. It is the most-attended cricket league in the world and ranks sixth among all the sports leagues. It has teams with players from around the world and is very competitive and entertaining with a lot of close matches between teams.

The IPL and other cricket related datasets are available at [cricsheet.org](https://cricsheet.org/%c2%a0(data). Feel free to visit the website and explore the data by yourself as exploring new sources of data is one of the interesting activities a data scientist gets to do.

Snapshot of the data you will be working on:<br>
<br>
The dataset 136522 data points and 23 features<br>

|Features|Description|
|-----|-----|
|match_code|Code pertaining to individual match|
|date|Date of the match played|
|city|City where the match was played|
|venue|Stadium in that city where the match was played|
|team1|team1|
|team2|team2|
|toss_winner|Who won the toss out of two teams|
|toss_decision|toss decision taken by toss winner|
|winner|Winner of that match between two teams|
|win_type|How did the team won(by wickets or runs etc.)|
|win_margin|difference with which the team won| 
|inning|inning type(1st or 2nd)|
|delivery|ball delivery|
|batting_team|current team on batting|
|batsman|current batsman on strike|
|non_striker|batsman on non-strike|
|bowler|Current bowler|
|runs|runs scored|
|extras|extra run scored|
|total|total run scored on that delivery including runs and extras|
|extras_type|extra run scored by wides or no ball or legby|
|player_out|player that got out|
|wicket_kind|How did the player got out|
|wicket_fielders|Fielder who caught out the player by catch|

### Analyzing data using pandas module

### Read the data using pandas module.

In [6]:
import pandas as pd
import numpy as np
df_ipl = pd.read_csv('/content/ipl_dataset.csv')
df_ipl.shape

577

In [0]:
len(df_ipl['match_code'].unique())

# You can also use: 
#df_ipl['match_code'].nunique()

577

### There are certain fixed cities all around the world where matches are held. Find the list of unique cities where matches were played

In [80]:
# Corrected as Venues to Cities
# np.unique(df_ipl['city'].values)
df_ipl['city'].unique()

array(['East London', 'Port Elizabeth', 'Centurion', 'neutral_venue',
       'Chennai', 'Jaipur', 'Kolkata', 'Delhi', 'Chandigarh', 'Hyderabad',
       'Ranchi', 'Mumbai', 'Bangalore', 'Dharamsala', 'Pune', 'Rajkot',
       'Durban', 'Cuttack', 'Cape Town', 'Ahmedabad', 'Johannesburg',
       'Visakhapatnam', 'Abu Dhabi', 'Raipur', 'Kochi', 'Kimberley',
       'Nagpur', 'Bloemfontein', 'Indore', 'Kanpur'], dtype=object)

### Find the columns which contains null values if any ?

In [81]:
df_ipl.columns[df_ipl.isna().any()].tolist()
print(df_ipl.isna().any())

match_code         False
date               False
city               False
venue              False
team1              False
team2              False
toss_winner        False
toss_decision      False
winner              True
win_type            True
win_margin          True
inning             False
delivery           False
batting_team       False
batsman            False
non_striker        False
bowler             False
runs               False
extras             False
total              False
extras_type         True
player_out          True
wicket_kind         True
wicket_fielders     True
dtype: bool

### Though the match is held in different cities all around the world it may or maynot have multiple venues (stadiums where matches are held) list down top 5 most played venues

In [82]:
df_ipl.groupby('venue')['match_code'].nunique().sort_values(ascending=False)[0:5]
# df_ipl.groupby('venue')[['match_code']].nunique().sort_values(by='match_code',ascending=False)[0:5]

venue
M Chinnaswamy Stadium              58
Eden Gardens                       54
Feroz Shah Kotla                   53
Wankhede Stadium                   49
MA Chidambaram Stadium, Chepauk    48
Name: match_code, dtype: int64

### Make a runs vs run-count frequency table

In [83]:
df_ipl['runs'].value_counts()

0    55870
1    50087
4    15409
2     8835
6     5806
3      473
5       42
Name: runs, dtype: int64

### IPL seasons are held every year now let's look at our data and extract how many seasons were recorded.

In [84]:
def get_year(data):
  return data.year

pd.to_datetime(df_ipl['date']).apply(lambda x : x.year).nunique()
pd.to_datetime(df_ipl['date']).apply(get_year).unique()

array([2009, 2014, 2011, 2008, 2015, 2010, 2013, 2012, 2016])

### What are the total no. of matches played per season

In [20]:
df_ipl['Year'] = pd.to_datetime(df_ipl['date']).apply(lambda x : x.year)
df_ipl.groupby('Year')['match_code'].nunique()

Year
2008    58
2009    57
2010    60
2011    73
2012    74
2013    76
2014    60
2015    59
2016    60
Name: match_code, dtype: int64

### What are the total runs scored across each season

In [86]:
df_ipl.groupby('Year')['runs'].sum()

Year
2008    16809
2009    15344
2010    17734
2011    19928
2012    21322
2013    21427
2014    17922
2015    17409
2016    17963
Name: runs, dtype: int64

### There are teams which are high performing and low performing. Let's look at the aspect of performance of an individual team. Filter the data and aggregate the runs scored by each team. Display top 10 results which are having runs scored over 200.

In [156]:
# result as data frame
#  teams_total_score = df_ipl.groupby(['match_code','batting_team'])[['total']].sum()
#  teams_total_score[teams_total_score['total'] > 200]['total'].nlargest(10)

# result as series
teams_total_score = df_ipl.groupby(['match_code','batting_team'])['total'].sum()
teams_total_score[teams_total_score > 200].nlargest(10)

Index(['total'], dtype='object')

### Chasing a 200+ target is difficulty in T-20 format. What are the chances that a team scoring runs above 200  in their 1st inning is chased by the opposition in 2nd inning.

In [169]:
teams_total_score = df_ipl.groupby(['match_code','batting_team','inning'])['total'].sum().reset_index()

inn1_200 = teams_total_score[(teams_total_score['total'] > 200 ) & (teams_total_score['inning'] == 1)]
inn2_200 = teams_total_score[(teams_total_score['total'] > 200 ) & (teams_total_score['inning'] == 2)]

m = pd.merge(inn1_200,inn2_200,on='match_code')
total_count = len(m)
numberOfseconInngChased = len(m[m['total_x'] < m['total_y']])

print(round(numberOfseconInngChased/total_count *100))

42

### Every season has that one team which is outperforming others and is in great form. Which team has the highest win counts in their respective seasons ?

In [64]:
# print(df_ipl['match_code'].nunique())
df2 = df_ipl[['match_code','winner','Year']].drop_duplicates()
print(df2.head(10))

      match_code                 winner  Year
0         392203         Mumbai Indians  2009
253       392197         Mumbai Indians  2009
472       392212        Deccan Chargers  2009
717       729297    Chennai Super Kings  2014
964       501226    Chennai Super Kings  2011
1210      335987       Rajasthan Royals  2008
1451      392227    Chennai Super Kings  2009
1693      829761  Kolkata Knight Riders  2015
1943      336005       Rajasthan Royals  2008
2151      501223       Delhi Daredevils  2011

In [112]:
# df2.groupby(['Year','winner']).size().unstack(fill_value=0)
df3 = df2.groupby(['Year','winner']).size().to_frame(name='count').reset_index()
df3.head(10)

   Year                       winner  count
0  2008          Chennai Super Kings      9
1  2008              Deccan Chargers      2
2  2008             Delhi Daredevils      7
3  2008              Kings XI Punjab     10
4  2008        Kolkata Knight Riders      6
5  2008               Mumbai Indians      7
6  2008             Rajasthan Royals     13
7  2008  Royal Challengers Bangalore      4
8  2009          Chennai Super Kings      8
9  2009              Deccan Chargers      9

In [120]:
print(df3.groupby(['Year']).get_group(2008))
df3.groupby(['Year']).max()

   Year                       winner  count
0  2008          Chennai Super Kings      9
1  2008              Deccan Chargers      2
2  2008             Delhi Daredevils      7
3  2008              Kings XI Punjab     10
4  2008        Kolkata Knight Riders      6
5  2008               Mumbai Indians      7
6  2008             Rajasthan Royals     13
7  2008  Royal Challengers Bangalore      4

                           winner  count
Year
2008  Royal Challengers Bangalore     13
2009  Royal Challengers Bangalore     10
2010  Royal Challengers Bangalore     11
2011  Royal Challengers Bangalore     11
2012  Royal Challengers Bangalore     12
2013          Sunrisers Hyderabad     13
2014          Sunrisers Hyderabad     12
2015          Sunrisers Hyderabad     10
2016          Sunrisers Hyderabad     11