<a href="https://colab.research.google.com/github/sagarsitap596/gcolab_python/blob/master/Manipulating_Data_with_NumPy_Code_Along.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# IPL Dataset Analysis

## Problem Statement
We want to know as to what happens during an IPL match which raises several questions in our mind with our limited knowledge about the game called cricket on which it is based. This analysis is done to know as which factors led one of the team to win and how does it matter.

## About the Dataset :
The Indian Premier League (IPL) is a professional T20 cricket league in India contested during April-May of every year by teams representing Indian cities. It is the most-attended cricket league in the world and ranks sixth among all the sports leagues. It has teams with players from around the world and is very competitive and entertaining with a lot of close matches between teams.

The IPL and other cricket related datasets are available at [cricsheet.org](https://cricsheet.org/%c2%a0(data). Feel free to visit the website and explore the data by yourself as exploring new sources of data is one of the interesting activities a data scientist gets to do.

## About the dataset:
Snapshot of the data you will be working on:<br>
<br>
The dataset 1452 data points and 23 features<br>

|Features|Description|
|-----|-----|
|match_code|Code pertaining to individual match|
|date|Date of the match played|
|city|Location where the match was played|
|team1|team1|
|team2|team2|
|toss_winner|Who won the toss out of two teams|
|toss_decision|toss decision taken by toss winner|
|winner|Winner of that match between two teams|
|win_type|How did the team won(by wickets or runs etc.)|
|win_margin|difference with which the team won| 
|inning|inning type(1st or 2nd)|
|delivery|ball delivery|
|batting_team|current team on batting|
|batsman|current batsman on strike|
|non_striker|batsman on non-strike|
|bowler|Current bowler|
|runs|runs scored|
|extras|extra run scored|
|total|total run scored on that delivery including runs and extras|
|extras_type|extra run scored by wides or no ball or legby|
|player_out|player that got out|
|wicket_kind|How did the player got out|
|wicket_fielders|Fielder who caught out the player by catch|

### Analysing data using numpy module

### Read the data using numpy module.

In [0]:
import numpy as np
# Not every data format will be in csv there are other file formats also.
# This exercise will help you deal with other file formats and how toa read it.
path = '/content/ipl_matches_small.csv'
data_ipl = np.genfromtxt(path, delimiter=',', skip_header=1, dtype=str)

In [3]:
data_ipl[:,3]

array(['Kolkata Knight Riders', 'Kolkata Knight Riders',
       'Kolkata Knight Riders', ..., 'Rajasthan Royals',
       'Rajasthan Royals', 'Rajasthan Royals'], dtype='<U21')

### Calculate the unique no. of matches in the provided dataset ?

In [26]:
# How many matches were held in total we need to know so that we can analyze further statistics keeping that in mind.
print(len(set(data_ipl[:,0])))
print(np.unique(data_ipl[:,0]))

6
['335987' '392197' '392203' '392212' '501226' '729297']

### Find the set of all unique teams that played in the matches in the data set.

In [31]:
# this exercise deals with you getting to know that which are all those six teams that played in the tournament.
print(set(np.concatenate((data_ipl[:,3],data_ipl[:,4]),axis=None)))
print(set(data_ipl[:,3]).union(set(data_ipl[:,4])))
print(np.unique(np.concatenate((data_ipl[:,3],data_ipl[:,4]),axis=None)))
print(np.unique(data_ipl[:,3:5]))
print(len(np.unique(data_ipl[:,3:5])))

{'Deccan Chargers', 'Rajasthan Royals', 'Chennai Super Kings', 'Kolkata Knight Riders', 'Kings XI Punjab', 'Pune Warriors', 'Mumbai Indians'}
{'Deccan Chargers', 'Rajasthan Royals', 'Chennai Super Kings', 'Kolkata Knight Riders', 'Kings XI Punjab', 'Pune Warriors', 'Mumbai Indians'}
['Chennai Super Kings' 'Deccan Chargers' 'Kings XI Punjab'
 'Kolkata Knight Riders' 'Mumbai Indians' 'Pune Warriors'
 'Rajasthan Royals']
['Chennai Super Kings' 'Deccan Chargers' 'Kings XI Punjab'
 'Kolkata Knight Riders' 'Mumbai Indians' 'Pune Warriors'
 'Rajasthan Royals']
7

### Find sum of all extras in all deliveries in all matches in the dataset

In [34]:
# An exercise to make you familiar with indexing and slicing up within data.
print(data_ipl[:,17])
np.sum(data_ipl[:,17].astype(np.int))

['1' '0' '1' ... '0' '0' '0']

88

### Get the array of all delivery numbers when a given player got out. Also mention the wicket type.

In [50]:
d=data_ipl[data_ipl[:,20] != '']
print(d[:,11])
print(d[:,21])

84
['caught' 'caught' 'caught' 'bowled' 'caught' 'caught' 'bowled' 'bowled'
 'caught' 'bowled' 'run out' 'caught' 'lbw' 'caught' 'caught' 'run out'
 'caught' 'caught' 'caught' 'caught' 'bowled' 'caught' 'caught' 'caught'
 'caught' 'bowled' 'bowled' 'caught' 'caught' 'bowled' 'bowled' 'caught'
 'run out' 'caught' 'bowled' 'caught' 'caught' 'bowled' 'bowled' 'caught'
 'stumped' 'caught' 'caught' 'caught' 'run out' 'caught' 'caught'
 'run out' 'caught' 'caught' 'caught and bowled' 'caught' 'caught'
 'caught' 'bowled' 'caught' 'run out' 'caught' 'bowled' 'stumped' 'caught'
 'caught' 'caught' 'bowled' 'bowled' 'bowled' 'bowled' 'caught' 'caught'
 'run out' 'run out' 'caught' 'bowled' 'caught and bowled' 'stumped' 'lbw'
 'lbw' 'bowled' 'caught' 'run out' 'caught' 'caught and bowled' 'caught'
 'lbw']

### How many matches the team `Mumbai Indians` has won the toss?

In [48]:
# this exercise will help you get the statistics on one particular team
print(len(data_ipl[data_ipl[:,5] == 'Mumbai Indians']))

472

### Create a filter that filters only those records where the batsman scored 6 runs. Also who has scored the maximum no. of sixes overall ?

In [53]:
# An exercise to know who is the most aggresive player or maybe the scoring player 
most_six = data_ipl[data_ipl[:,16] == '6']
batsmans = most_six[:,13]

batsman, sixes = np.unique(batsmans, return_counts=True)
print(batsman)
print(sixes)
print(batsman[np.argmax(sixes)])

['AC Gilchrist' 'BJ Hodge' 'CH Gayle' 'DR Smith' 'DS Kulkarni'
 'Harbhajan Singh' 'IK Pathan' 'JD Ryder' 'JP Duminy' 'K Goel'
 'KC Sangakkara' 'Kamran Akmal' 'M Manhas' 'M Vijay' 'MEK Hussey'
 'MS Dhoni' 'PR Shah' 'R Bhatia' 'RA Jadeja' 'RG Sharma' 'RR Raje'
 'S Badrinath' 'SC Ganguly' 'SR Tendulkar' 'SR Watson' 'ST Jayasuriya'
 'SV Samson' 'TL Suman' 'Y Venugopal Rao' 'Yuvraj Singh']
[1 3 1 4 2 2 1 1 4 2 1 1 1 1 1 1 2 1 1 1 1 1 1 6 6 4 2 2 1 3]
SR Tendulkar