<a href="https://colab.research.google.com/github/sagarsitap596/gcolab_python/blob/master/Python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
s="sagar mahadev sitap"
print(len(s))
print(s.capitalize())
print(s.title())
print(s.upper())
print(s.)

19
Sagar mahadev sitap
Sagar Mahadev Sitap
SAGAR MAHADEV SITAP
sagar mahadev sitap

In [0]:
names=['1sagar','2sagar','5sagar','4sagar','5sagar']
print(name)
print(type(name))
print(len(name))
print(id(name))
print(name[-1])

names[0]=names[0][:4]
names[1]=names[1][:-2]
names[2]=names[2][-3:-100:-1]
names[3]=names[3][0:4]+'-beginner'
names[4]='beginner-'+names[4][0:4]

print(name)

['1sagar', '2sagar', '5sagar', '4sagar', '5sagar']
<class 'list'>
5
140661447135880
5sagar
['1sag', '2sag', 'gas5', '4sag-beginner', 'beginner-5sag']

In [0]:
# Dict operations


d1 = dict()
d1['k1']='v1'
d1.update({'k2' : 'v2'})
d1.update({'k2' : 'v22'})

print(d1)

names_dist = {'L1' : ['L1_1sagar','L1_2sagar','L1_5sagar','L1_4sagar','L1_5sagar'],'L2' : ['L2_1sagar','L2_2sagar','L2_5sagar']}

print(names_dist.get('L1'))
print(type(names_dist.get('L1')))
print(names_dist['L2'],end='\n\n')
print(names_dist['L1'][0][0:7])
print(names_dist.get('L1')[0][0:2])
print(names_dist['L2'][2][:-3])

{'k1': 'v1', 'k2': 'v22'}
['L1_1sagar', 'L1_2sagar', 'L1_5sagar', 'L1_4sagar', 'L1_5sagar']
<class 'list'>
['L2_1sagar', 'L2_2sagar', 'L2_5sagar']

L1_1sag
L1
L2_5sa

In [0]:

nn = list(range(5))
print(nn)

for n in range(21):
  if( n % 3 == 0 and n % 6 == 0):
    print(str(n)+" Divisible by 3 and ")
  else :
    print(str(n)+" Not Divisible ")
    
    
x,y = 14,7
print(x)
print(y)

print(" x is divisible by y : {}".format(x % y == 0))

[0, 1, 2, 3, 4]
0 Divisible by 3 and
1 Not Divisible
2 Not Divisible
3 Not Divisible
4 Not Divisible
5 Not Divisible
6 Divisible by 3 and
7 Not Divisible
8 Not Divisible
9 Not Divisible
10 Not Divisible
11 Not Divisible
12 Divisible by 3 and
13 Not Divisible
14 Not Divisible
15 Not Divisible
16 Not Divisible
17 Not Divisible
18 Divisible by 3 and
19 Not Divisible
20 Not Divisible
14
7
 x is divisible by y : True

In [0]:
l1 = ['x','y','x','d','y']
del l1[0]
print(l1)

['y', 'x', 'd', 'y']

In [0]:


even_numbers = []
n = 0
while( n < 100):
  if(n % 2 == 0):
    even_numbers.append(n)
  n+=1

print(even_numbers)    
print(len(even_numbers))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]
50

In [0]:
print(list(range(11)))
print(type(range(11)))

list1= [i for i in range(11)]
print(list1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
<class 'range'>
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [13]:
# Fibonacci series

x=0
y=1

while(y<60):
  
  print(" x = "+str(id(x)))
  print(" y = "+str(id(y)))
  print(y)
  x,y=y,y+x

 x = 10968768
 y = 10968800
1
 x = 10968800
 y = 10968800
1
 x = 10968800
 y = 10968832
2
 x = 10968832
 y = 10968864
3
 x = 10968864
 y = 10968928
5
 x = 10968928
 y = 10969024
8
 x = 10969024
 y = 10969184
13
 x = 10969184
 y = 10969440
21
 x = 10969440
 y = 10969856
34
 x = 10969856
 y = 10970528
55